body {
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

#score {
  color: rgba(250, 194, 80, 1);
  display: inline-block;
  float:right;
  padding-right: 30px;
  padding-top: 10px;
}


#header {
  height: 100px;
  background-color: black;
  padding: 5px;
}
.form {

}

#play-button {
  font-size: 50px;
  border: 3px solid black ;
  background-color: gray;
  height: 80px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.list {
  list-style-type: none;
}

#spotify {
  display: inline-block;
}

#answer {

}

#logo {
  float: left;
  padding-left: 20px;
}

#pic {
  float: left;
  display: inline-block;
}

#title {
  float: right;
  display: inline-block;
  font-family: 'Princess Sofia', cursive;
  color: rgba(68, 197, 235,1);
  text-align: left;
  font-size: 45px;
  margin-top: 20px;
}

#content {
  display: inline-block;
  float: left;
  width: 45%;
  padding-right: 20px;
  padding-left: 20px;
}
