body {
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

#scores {
  padding-left: 5px;
}

#scores li{
  display: inline;
  float: left;
  text-transform:capitalize;
}


.scores-list {
  padding-left: 10px;
}

#num-users {
  float: right;
  padding-right: 10px;
}

#scoreboard {
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  width: 100%;
}

#ppr {
  margin-top: 5px;
  margin-bottom: 5px;
}

#search-term {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform:capitalize;
}

#hints {
  margin-top: 0px;

}

#score {
  color: rgba(250, 194, 80, 1);
  display: inline-block;
  float:right;
  padding-right: 15px;
}

#match-title {
  font-family: 'Coming Soon', cursive;
  font-size: 30px;
  text-transform:capitalize;
}

#header {
  height: 80px;
  background-color: black;
  padding: 5px;
}

#play-button {
  font-size: 50px;
  width: 300px;
  height: 80px;
  display: block;
  margin: 30px;
  padding-top: 30px;
  margin-top: -40px;
}

.list {
  list-style-type: none;
}

iframe {
  margin-top: -240px;
}

#spotify {
  display: inline-block;
  margin-top: 50px;
}

#album-cover {
 height: 200px;
}

#answer {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#logo {
  float: left;
}

#pic {
  float: left;
  display: inline-block;
}

#title {
  float: right;
  display: inline-block;
  font-family: 'Ribeye Marrow', cursive;
  color: rgba(68, 197, 235,1);
  text-align: left;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#content {
  display: inline-block;
  float: left;
  width: 45%;
  padding-right: 5px;
  padding-left: 30px;
}

input {
  height: 40px;
  width: 250px;
  font-family: 'Coming Soon', cursive;
  font-size: 20px;
}

.push_button {
  position: relative;
  font-size: 16px;
  width:80px;
  height: 40px;
  text-align:center;
  color:#FFF;
  text-decoration:none;
  line-height:43px;
  font-family:'Coming Soon', cursive;
  display: inline-block;
  margin: 10px;
}
.push_button:before {
  background:#f0f0f0;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

  position: absolute;
  content: "";
  left: -6px; right: -6px;
  top: -6px; bottom: -10px;
  z-index: -1;
}

.push_button:active {
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
  top:5px;
}
.push_button:active:before{
  top: -11px;
  bottom: -5px;
  content: "";
}

.red {
  text-shadow:-1px -1px 0 #A84155;
  background: #D25068;
  border:1px solid #D25068;

  background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
  background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
  background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
  background-image:-o-linear-gradient(top, #F66C7B, #D25068);
  background-image:linear-gradient(to bottom, #F66C7B, #D25068);

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
  background: #F66C7B;
  background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
  background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
  background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
  background-image:-o-linear-gradient(top, #D25068, #F66C7B);
  background-image:linear-gradient(top, #D25068, #F66C7B);
}

.blue {
  text-shadow:-1px -1px 0 #2C7982;
  background: #3EACBA;
  border:1px solid #379AA4;
  background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:linear-gradient(top, #48C6D4, #3EACBA);

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
  background: #48C6D4;
  background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:linear-gradient(top, #3EACBA, #48C6D4);
}

